<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" [defaultHref]="'/login'"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambio de Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="cambio-password">
  <div class="login-container">
    <div class="centered-container">
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-input label="Usuario" labelPlacement="floating" [(ngModel)]="nuevo_login.usuario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input label="Nueva Contraseña" labelPlacement="floating" type="password" aria-placeholder="Contraseña" [(ngModel)]="nuevo_login.password1"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input label="Reingresar Contraseña" labelPlacement="floating" type="password" aria-placeholder="Reingresar Contraseña" [(ngModel)]="nuevo_login.password2"></ion-input>
          </ion-item>
          
          <ion-button expand="block" (click)="guardarCambios()">Guardar Cambios</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
