ion-header {
  --background: #f8f8f8;
}

.fab-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
}
ion-card {
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  overflow: hidden;
  max-height: 80px;
}

ion-card.expanded {
  max-height: 200px;
  padding: 16px;
}

ion-card-content {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

ion-card.expanded ion-card-content {
  opacity: 1;
}