<div class="loading-container" *ngIf="isLoading">
  <ion-progress-bar [value]="progress"></ion-progress-bar>
</div>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" [defaultHref]="'/home'"></ion-back-button>
    </ion-buttons>
    <ion-title>Horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cards-container">
  <mat-tab-group [style.flex]="1">
    <!-- Tabs para cada día de la semana -->
    <mat-tab label="Lunes">
      <div *ngFor="let subject of getSubjectsForDay('Lunes')">
        <ion-card [color]="subject.color" (click)="toggleExpand(subject.name)" [ngClass]="{'expanded': expandedCard === subject.name}">
          <ion-card-header>
            <ion-card-title>{{ subject.name }}</ion-card-title>
            <ion-card-subtitle>{{ subject.startTime | date:'HH:mm' }} - {{ subject.endTime | date:'HH:mm' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Sala: {{ subject.room }} <br>
            Profesor: {{ subject.teacher }}
          </ion-card-content>

          <ng-container *ngIf="expandedCard === subject.name">
            <ion-card-content>
              <ion-button color="secondary" (click)="openEditModal(subject)">Modificar</ion-button>
              <ion-button class="delete-button" color="danger" (click)="confirmDeleteSubject(subject)">Eliminar</ion-button>
            </ion-card-content>
          </ng-container>
        </ion-card>
      </div>
    </mat-tab>

    <!-- Repite los mismos bloques para Martes, Miércoles, Jueves y Viernes -->
    
    <mat-tab label="Martes">
      <div *ngFor="let subject of getSubjectsForDay('Martes')">
        <ion-card [color]="subject.color" (click)="toggleExpand(subject.name)" [ngClass]="{'expanded': expandedCard === subject.name}">
          <ion-card-header>
            <ion-card-title>{{ subject.name }}</ion-card-title>
            <ion-card-subtitle>{{ subject.startTime | date:'HH:mm' }} - {{ subject.endTime | date:'HH:mm' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Sala: {{ subject.room }} <br>
            Profesor: {{ subject.teacher }}
          </ion-card-content>
          <ion-card-content *ngIf="expandedCard === subject.name">
            <ion-button color="secondary" (click)="openEditModal(subject)">Modificar</ion-button>
            <ion-button class="delete-button" color="danger" (click)="confirmDeleteSubject(subject)">Eliminar</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </mat-tab>

    <mat-tab label="Miércoles">
      <div *ngFor="let subject of getSubjectsForDay('Miércoles')">
        <ion-card [color]="subject.color" (click)="toggleExpand(subject.name)" [ngClass]="{'expanded': expandedCard === subject.name}">
          <ion-card-header>
            <ion-card-title>{{ subject.name }}</ion-card-title>
            <ion-card-subtitle>{{ subject.startTime | date:'HH:mm' }} - {{ subject.endTime | date:'HH:mm' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Sala: {{ subject.room }} <br>
            Profesor: {{ subject.teacher }}
          </ion-card-content>
          <ion-card-content *ngIf="expandedCard === subject.name">
            <ion-button color="secondary" (click)="openEditModal(subject)">Modificar</ion-button>
            <ion-button class="delete-button" color="danger" (click)="confirmDeleteSubject(subject)">Eliminar</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </mat-tab>

    <mat-tab label="Jueves">
      <div *ngFor="let subject of getSubjectsForDay('Jueves')">
        <ion-card [color]="subject.color" (click)="toggleExpand(subject.name)" [ngClass]="{'expanded': expandedCard === subject.name}">
          <ion-card-header>
            <ion-card-title>{{ subject.name }}</ion-card-title>
            <ion-card-subtitle>{{ subject.startTime | date:'HH:mm' }} - {{ subject.endTime | date:'HH:mm' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Sala: {{ subject.room }} <br>
            Profesor: {{ subject.teacher }}
          </ion-card-content>
          <ion-card-content *ngIf="expandedCard === subject.name">
            <ion-button color="secondary" (click)="openEditModal(subject)">Modificar</ion-button>
            <ion-button class="delete-button" color="danger" (click)="confirmDeleteSubject(subject)">Eliminar</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </mat-tab>

    <mat-tab label="Viernes">
      <div *ngFor="let subject of getSubjectsForDay('Viernes')">
        <ion-card [color]="subject.color" (click)="toggleExpand(subject.name)" [ngClass]="{'expanded': expandedCard === subject.name}">
          <ion-card-header>
            <ion-card-title>{{ subject.name }}</ion-card-title>
            <ion-card-subtitle>{{ subject.startTime | date:'HH:mm' }} - {{ subject.endTime | date:'HH:mm' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Sala: {{ subject.room }} <br>
            Profesor: {{ subject.teacher }}
          </ion-card-content>
          <ion-card-content *ngIf="expandedCard === subject.name">
            <ion-button color="secondary" (click)="openEditModal(subject)">Modificar</ion-button>
            <ion-button class="delete-button" color="danger" (click)="confirmDeleteSubject(subject)">Eliminar</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </mat-tab>

  </mat-tab-group>
  </div>
  <!-- Botón para agregar asignatura -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="ion-page">    
    <!-- Modal para agregar nueva asignatura -->
    <ion-modal [isOpen]="isAddModalOpen" (didDismiss)="closeAddModal()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Agregar Nueva Asignatura</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeAddModal()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-label position="stacked">Día de la Semana *</ion-label>
            <ion-select [(ngModel)]="newSubject.day" required placeholder="Día">
              <ion-select-option value="Lunes">Lunes</ion-select-option>
              <ion-select-option value="Martes">Martes</ion-select-option>
              <ion-select-option value="Miércoles">Miércoles</ion-select-option>
              <ion-select-option value="Jueves">Jueves</ion-select-option>
              <ion-select-option value="Viernes">Viernes</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Nombre de la Asignatura *</ion-label>
            <ion-input [(ngModel)]="newSubject.name" required placeholder="Nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Horario de Inicio *</ion-label>
            <ion-datetime  required placeholder="Selecciona la hora" displayFormat="HH:mm" presentation="time" [(ngModel)]="newSubject.startTime"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Horario de Término *</ion-label>
            <ion-datetime required placeholder="Selecciona la hora" displayFormat="HH:mm" presentation="time" [(ngModel)]="newSubject.endTime"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Sala</ion-label>
            <ion-input [(ngModel)]="newSubject.room"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Profesor</ion-label>
            <ion-input [(ngModel)]="newSubject.teacher"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Color de la Asignatura *</ion-label>
            <ion-select [(ngModel)]="newSubject.color" required placeholder="Color">
              <ion-select-option value="primary">Azul</ion-select-option>
              <ion-select-option value="secondary">Verde</ion-select-option>
              <ion-select-option value="tertiary">Aqua</ion-select-option>
              <ion-select-option value="success">Verde</ion-select-option>
              <ion-select-option value="warning">Amarillo</ion-select-option>
              <ion-select-option value="danger">Rojo</ion-select-option>
              <ion-select-option value="light">Blanco</ion-select-option>
              <ion-select-option value="medium">Gris</ion-select-option>
              <ion-select-option value="dark">Negro</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button expand="block" (click)="addNewSubject()" [disabled]="!isFormValid()">Agregar</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- Modal para editar asignatura existente -->
    <ion-modal [isOpen]="isEditModalOpen" (didDismiss)="closeEditModal()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Editar Asignatura</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeEditModal()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item *ngIf="selectedSubject">
            <ion-label position="stacked">Día</ion-label>
            <ion-select [(ngModel)]="selectedSubject.day">
              <ion-select-option value="Lunes">Lunes</ion-select-option>
              <ion-select-option value="Martes">Martes</ion-select-option>
              <ion-select-option value="Miércoles">Miércoles</ion-select-option>
              <ion-select-option value="Jueves">Jueves</ion-select-option>
              <ion-select-option value="Viernes">Viernes</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="selectedSubject">
            <ion-label position="stacked">Nombre de la Asignatura</ion-label>
            <ion-input [(ngModel)]="selectedSubject.name"></ion-input>
          </ion-item>
          <ion-item *ngIf="selectedSubject">
            <ion-label>Horario de Inicio</ion-label>
            <ion-datetime displayFormat="HH:mm" presentation="time" [(ngModel)]="selectedSubject.startTime"></ion-datetime>
          </ion-item>
          <ion-item *ngIf="selectedSubject">
            <ion-label>Horario de Término</ion-label>
            <ion-datetime displayFormat="HH:mm" presentation="time" [(ngModel)]="selectedSubject.endTime"></ion-datetime>
          </ion-item>
          <ion-item *ngIf="selectedSubject">
            <ion-label position="stacked">Sala</ion-label>
            <ion-input [(ngModel)]="selectedSubject.room"></ion-input>
          </ion-item>
          <ion-item *ngIf="selectedSubject">
            <ion-label position="stacked">Profesor</ion-label>
            <ion-input [(ngModel)]="selectedSubject.teacher"></ion-input>
          </ion-item>
          <ion-item *ngIf="selectedSubject">
            <ion-label position="stacked">Color de la Asignatura</ion-label>
            <ion-select [(ngModel)]="selectedSubject.color">
              <ion-select-option value="primary">Azul</ion-select-option>
              <ion-select-option value="secondary">Verde</ion-select-option>
              <ion-select-option value="tertiary">Aqua</ion-select-option>
              <ion-select-option value="success">Verde</ion-select-option>
              <ion-select-option value="warning">Amarillo</ion-select-option>
              <ion-select-option value="danger">Rojo</ion-select-option>
              <ion-select-option value="light">Blanco</ion-select-option>
              <ion-select-option value="medium">Gris</ion-select-option>
              <ion-select-option value="dark">Negro</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button expand="block" (click)="saveEditedSubject()">Guardar Cambios</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
