<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cambio-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content>
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input label="Usuario" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input label="Nueva Contraseña" labelPlacement="floating" type="password" aria-placeholder="Contraseña"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input label="Reingresar Contraseña" labelPlacement="floating" type="password" aria-placeholder="Reingresar Contraseña"></ion-input>
    </ion-item>
    
    <ion-button expand="block">Guardar Cambios</ion-button>
  </ion-card-content>
</ion-content>
