<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="profile-section">
      <ion-avatar class="profile-avatar">
        <img src="assets/img/profile.jpg" alt="Foto de perfil">
      </ion-avatar>
      <!-- Mostrar el nombre del usuario o "Bienvenido" si no está autenticado -->
      <h4 class="profile-name">{{ nombreUsuario }}</h4>
    </div>

    <ion-list>
      <!-- Enlaces del menú deshabilitados si no esta autenticado -->
      <ion-item button [routerLink]="['/perfil']" [disabled]="!isAuthenticated">Perfil</ion-item>
      <ion-item button [routerLink]="['/chat']" [disabled]="!isAuthenticated">Chat</ion-item>
      <ion-item button [routerLink]="['/cambio-password']" [disabled]="!isAuthenticated">Opciones</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>ClassPro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-content (click)="navigateTo('horario')">Horario</ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content (click)="navigateTo('actividades')">Actividades</ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content (click)="navigateTo('bibliografia')">Bibliografía</ion-card-content>
    </ion-card>

    <!-- Botón de logout/login -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <!-- Cambia el color del botón dependiendo del estado de autenticación -->
      <ion-fab-button [color]="isAuthenticated ? 'success' : 'danger'" (click)="handleAuthButton()">
        <ion-icon [name]="isAuthenticated ? 'log-out' : 'log-in'"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Developed By ClassPro v1.0.0</ion-title>
    </ion-toolbar>
  </ion-footer>
</div>
