<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="profile-section">
      <ion-avatar class="profile-avatar">
        <img src="assets/img/profile.jpg" alt="Foto de perfil">
      </ion-avatar>
      <!-- Mostrar el nombre del usuario o "Bienvenido" si no está autenticado -->
      <h4 class="profile-name">{{ nombreUsuario }}</h4>
    </div>

    <ion-list>
      <!-- Enlaces del menú deshabilitados si no está autenticado -->
      <ion-item button [routerLink]="['/perfil']">Perfil</ion-item>
      <ion-item button [routerLink]="['/cambio-password']">Opciones</ion-item>
      <ion-item button [routerLink]="['/chatbot']">Chatbot</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>ClassPro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-content (click)="navigateTo('horario')">Horario</ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content (click)="navigateTo('notas')">Notas</ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content (click)="navigateTo('bibliografia')">Bibliografía</ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content (click)="navigateTo('chatbot')">Chatbot</ion-card-content>
    </ion-card>
    <ion-button expand="full" (click)="shareApp()">
      Compartir app
    </ion-button>

    <!-- Botón de logout/login -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <!-- Cambia el color del botón dependiendo del estado de autenticación -->
      <ion-fab-button color="danger" (click)="handleAuthButton()">
        <ion-icon [name]="isAuthenticated ? 'log-out' : 'log-in'"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Developed By ClassPro v1.0.0</ion-title>
    </ion-toolbar>
  </ion-footer>
</div>
