<app-header title="Bibliografía" [showBackButton]="true" [defaultHref]="'/home'"></app-header>

<ion-content>
  <ion-list *ngIf="libros && libros.length > 0; else noBooks">
    <!-- Iterar sobre los libros y mostrar su información -->
    <ion-item *ngFor="let libro of libros">
      <ion-label>
        <h2>{{ libro.title }}</h2>
        <p><strong>Autor:</strong> {{ libro.author }}</p>
        <p><strong>Edición:</strong> {{ libro.edition }}</p>
        <p><strong>Categoría:</strong> {{ libro.category }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Mostrar un mensaje si no hay libros -->
  <ng-template #noBooks>
    <div class="ion-text-center">
      <p>No se encontraron libros disponibles.</p>
    </div>
  </ng-template>
</ion-content>
