<app-header title="Notas" [showBackButton]="true" [defaultHref]="'/home'"></app-header>

<ion-content [fullscreen]="true">
 <!-- Formulario para agregar nueva nota -->
 <ion-item>
  <ion-label position="stacked">Título</ion-label>
  <ion-input [(ngModel)]="nuevaNota.titulo" placeholder="Escribe el título"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Contenido</ion-label>
  <ion-textarea [(ngModel)]="nuevaNota.contenido" placeholder="Escribe la nota"></ion-textarea>
</ion-item>

<!-- Botón para tomar una foto -->
<ion-button expand="block" (click)="takePicture()">Tomar Foto</ion-button>

<!-- Mostrar la imagen capturada si existe -->
<div *ngIf="nuevaNota.imagen">
  <ion-img [src]="nuevaNota.imagen"></ion-img>
</div>

<ion-button expand="block" (click)="addNote()">Guardar Nota</ion-button>

<!-- Listado de notas -->
<ion-list>
  <ion-item *ngFor="let nota of notas">
    <ion-label>
      <h2>{{ nota.titulo }}</h2>
      <p>{{ nota.contenido }}</p>
      <p><small>{{ nota.creadaEn | date: 'short' }}</small></p>
      <ion-img *ngIf="nota.imagen" [src]="nota.imagen"></ion-img>
    </ion-label>

    <!-- Botón para eliminar la nota -->
    <ion-button color="danger" slot="end" (click)="deleteNote(nota.id)">
      Eliminar
    </ion-button>
  </ion-item>
</ion-list>
</ion-content>
